@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.wrapper,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/**
  * Placement Tool
  */
.placement-tool-icon {
  transition: transform 0.1s ease-in-out;
}

.placement-tool:hover .placement-tool-icon {
  transform: scale(1.1);
}

/**
  * UI
  */
.item-delete-btn:hover .item-delete-btn-icon {
  color: white;
}

/**
  * GUI
  */
.settings-container button {
  color: white !important;
}

.leva-c-kWgxhW {
  height: auto;
}

.leva-c-kWgxhW > div {
  height: auto !important;
}
